.main {
  display: flex;  
  color: white;
  flex-direction: column;
  justify-content: space-between;  
  padding: 2rem;  
  min-height: 89vh;
  width: 100%!important;
  margin: 0 auto;
  
}
.dark{background: black;}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;   
}
  .searchWrapper{
  display: flex;
  width: 100%;
  margin: 0 auto;
  }

.searchWrapper form{
  display: flex;
  
}
.searchWrapper form{
  display: flex;
  width: 100%;
  
}
.searchWrapper form .form{
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  min-height: 3rem;
  width: 80%;  
  gap: 1rem;
  margin: 0 auto;
}

.searchInput {
  min-width: 90%;
}

.searchInput input{
  width: 100%;
  outline: none;
}

.searchButton button{
  position: absolute;
  align-items: center;
  top: 12px;
  display: flex;  
  right: 1rem;
  background: rgb(239,68,68);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
  transition: all 300ms ease;
}

.searchButton button:hover{
  background: rgb(226, 43, 43);
}

.options{
  display: flex;
  list-style: none;
  padding: 0;  
  margin: 0 auto;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
}

.optionsWrapper{
display: flex;
font-size: 1rem;
padding: 0;
align-items: center;
font-weight: bold;
gap: 0.3rem;
;
}

.selectWrapper{
  display: flex;  
  outline: none;
  color: black;
  min-width: 5rem;
  
}

.selectWrapper:focus{
  display: flex;  
  outline: none;
}

.rightContainer{
  display: flex;
  gap: 1rem;
  align-items: center;
}


.theme{
  cursor: pointer;
}


.option_container{
  position: relative;          
  flex-wrap: wrap;
  display: flex;    
  align-items: center;  
  margin: 0 auto;
  gap: 1rem;  
  margin-top: 1rem;  
  flex-wrap: wrap;  
  max-width: 50%;
}

.side{
  display: flex;
  gap: 1rem;
  width: auto;
}
.side span{
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  height: 1rem;    
}

.nav__container{
  background: teal!important;
  display: flex;
  min-height: 5rem;
}

.theme__icon{  
  background: rgb(193, 182, 182);
}
/* Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main{
    
  }
  
}

/* Device = Low Resolution Tablets, Mobiles (Landscape)
Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) { 
    .options{    
      display: flex;    
      flex-wrap: wrap;    
   }   

   .form{
      width: 100%!important;
    }
}

/* Device = Most of the Smartphones Mobiles (Portrait)
Screen = B/w 320px to 479px*/

@media (min-width: 320px) and (max-width: 480px) {

   .options{    
    display: flex;    
    flex-wrap: wrap;
   }
   
.form{
  width: 100%!important;
}
}