.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2rem;  
  min-height: 100vh;
  width: 100%!important;
  margin: 0 auto;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */    
}
  .searchWrapper{
  display: flex;
  width: 100%;
  margin: 0 auto;
  }

.searchWrapper form{
  display: flex;
  
}
.searchWrapper form{
  display: flex;
  width: 100%;
  
}
.searchWrapper form .form{
position: relative;
padding: 1rem;
display: flex;
align-items: center;
/* min-width: 20rem; */
justify-content: space-between;
border-radius: 0.5rem;
background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  min-height: 3rem;
  width: 80%;
  /* min-width: 30rem; */
  gap: 1rem;
  margin: 0 auto;

}

.searchInput {
  min-width: 80%;
}
.searchInput input{
  width: 100%;
  outline: none;

}


.searchButton button{
  position: absolute;
  align-items: center;
  top: 12px;
  display: flex;  
  right: 1rem;
  background: rgb(239,68,68);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
transition: all 300ms ease;
}
.searchButton button:hover{
  background: rgb(226, 43, 43);
}
.options{
  display: flex;
  list-style: none;
  padding: 0;
  
  margin: 0 auto;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
}
.optionsWrapper{
display: flex;
font-size: 1rem;
padding: 0;
align-items: center;
font-weight: bold;
gap: 0.3rem;
;
}

.selectWrapper{
  display: flex;  
  outline: none;
  min-width: 5rem;
  
}
.selectWrapper:focus{
  display: flex;
  
  outline: none;
}

.rightContainer{
  display: flex;
  gap: 1rem;
  align-items: center;
}


.theme{
  cursor: pointer;
}


.option_container{
  display: flex;    
  align-items: center;  
  margin: 0 auto;
  gap: 1rem;  
  margin-top: 1rem;
  
  flex-wrap: wrap;
}

/* Device = Laptops, Desktops  */
@media (min-width: 1025px) and (max-width: 1280px) {
  
    
}

/* Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .main{
    background: red;
  }
  .searchInput{
    background: red;
  }
}

/* Device = Tablets, Ipads (landscape)
  Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main{
    background: green;
  }
  
}

/* Device = Low Resolution Tablets, Mobiles (Landscape)
Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {

  
    
}

/* Device = Most of the Smartphones Mobiles (Portrait)
Screen = B/w 320px to 479px*/

@media (min-width: 320px) and (max-width: 480px) {

   
}